{% extends "companies/base.html" %}

{% block content %}
  
    <h1>{{ company.name }}</h1>

<table class="table">
    <tbody>
    <tr><td> Address </td>
    {% if company.address != "" %}
        <td> {{ company.address }} </td>
    {% endif %}
    </tr>
    <tr><td> Phone Number: </td>
    {% if company.phone_number != "" %}
        <td> {{ company.phone_number }} </td>
    {% endif %}
    </tr>
    <tr><td> Num. Android Users: </td> <td> {{ company.android_users }} </td></tr>
     
     </tbody>   
</table>
    
{% endblock %}
      